.cubic_box{
    width:250px;
    height:250px;
    background:blue;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    transition:all 0.5s;
}
.inform{
    margin:10px;
    font-size:20px;
    font-weight:700;
}
.red_cubic{
    width:100px;
    height:100px;
    background:red;
    transition:all 0.2s;
    border-radius:50%;
}
.num{
    font-size:20px;
    position:absolute;
    right:100px;
    top:10px;
}
.bright{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    backdrop-filter:brightness(0.5);
    display:flex;
    justify-content:center;
    align-items:center;
}
.box{
    top:0;
    background:green;
    width:500px;
    height:100%;
    padding:10px;
}
.description{
    color:yellow;
    font-weight:600;
    border-bottom:2px solid yellow;
    padding-bottom:5px;
    margin-bottom:10px;
    display:inline-block;
}
.btn_lv{
    width:100%;
    padding:10px;
    border-radius:10px;
    background:yellow;
    font-weight:600;
    margin-bottom:20px;
}
button{
    display:block;
}
.box{
    display:flex;
    position:absolute;
    top:0;
    left:20%;
    background:green;
    width: 60%;
    height:100%;
    z-index:2;
}
.lvl_box{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:15px;
}
.lvl_num{
    font-size:20px;
    color:yellow;
    font-family:sans-serif;
}
#lvl{
    background:yellow;
    color:green;
    border-radius:5px;
    font-size:20px;
    padding:5px;
}
.apply{
    background:yellow;
    padding:5px 10px;
    border-radius:10px;
    color:green;
    font-size:17px;
}
.colors{
    margin-top:15px;
    display:flex;
    justify-content:space-between;
}
.gray{
    position:absolute;
    top:0;
    left:0;
    backdrop-filter:brightness(0.5);
    width:100%;
    height:100%;
    z-index:1;
}